[Unit]
Description=Lock the screen
Before=sleep.target

[Service]
User=%I
Type=simple
# https://github.com/google/xsecurelock#known-compatibility-issues
Environment="DISPLAY=:0" "XSECURELOCK_COMPOSITE_OBSCURER=0"
ExecStart=xss-lock xsecurelock

[Install]
WantedBy=sleep.target